{{ $page := .page }}
{{ $site := .Site }}
{{ $is_white_header := $page.Params.white_header | default false }}
{{ $is_logo_light := false }}
{{ if or $is_white_header (eq $page.Params.layout "product") }}
    {{ $is_logo_light = true }}
{{ end }}

<header class="header">
    <nav class="nav{{ if $is_white_header }} nav--light{{ end }}{{ if ne $is_white_header true }} nav--dark{{ end }}">
        <div class="nav__logo"{{ if and $is_logo_light $site.Params.logo_light }} data-original="{{ $site.Params.logo_light | relURL }}"{{ end }}{{ if $site.Params.logo_dark }} data-dark="{{ $site.Params.logo_dark | relURL }}"{{ end }}>
            <a href="{{ "/" | relURL }}">
                {{ if $is_logo_light }}
                    {{ $include_dict := dict "image" $site.Params.logo_light "cssClass" "nav__logo-image" "alt" "Site logo" }}
                    {{ partial "picture.html" $include_dict }}
                {{ else }}
                    {{ $include_dict := dict "image" $site.Params.logo_dark "cssClass" "nav__logo-image" "alt" "Site logo" }}
                    {{ partial "picture.html" $include_dict }}
                {{ end }}
            </a>
        </div>
        <ul class="nav__menu">
            {{ range $item := $site.Params.main_menu }}
                {{ $section := $page.Params.section | default $page.Title }}
                {{ $isActive := cond (eq $item.title $section) true false }}
                <li class="nav__menu-item">
                    <a href="{{ $item.url | relURL }}" class="nav__menu-item-link{{ if $isActive }} nav__menu-item-link--active{{ end }}">
                        {{ $item.title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
</header>
